div.card {
  width: 220px;
  height: 260px;
  margin: 1rem;
  background-color: #ffffffbd;

  /* background-color: rgba(0, 0, 0, 0.335); */
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform .2s;
}

div.card:hover{
  transform: scale(1.05);
}

img.card {
  width: 100%;
  height: auto;
}


/* @media only screen and (max-width: 1250px) {
  div.card {
    width: 200px;
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  div.card {
    width: 225px;
    height: 300px;
  }
} */

@media only screen and (max-width: 360px) {
  div.card {
    margin: 5px;
    width: 170px;
    height: 200px;
  }
}